src/bank/soap/GeneratedWSDL.xml

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.4-b01. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://soap.bank/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.bank/"
	name="BankServiceImplService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://soap.bank/" schemaLocation="http://localhost:9876/hs?xsd=1" />
		</xsd:schema>
	</types>
	<message name="transfer">
		<part name="parameters" element="tns:transfer" />
	</message>
	<message name="transferResponse">
		<part name="parameters" element="tns:transferResponse" />
	</message>
	<message name="IOException">
		<part name="fault" element="tns:IOException" />
	</message>
	<message name="OverdrawException">
		<part name="fault" element="tns:OverdrawException" />
	</message>
	<message name="InactiveException">
		<part name="fault" element="tns:InactiveException" />
	</message>
	<message name="CustomException">
		<part name="fault" element="tns:CustomException" />
	</message>
	<message name="getOwner">
		<part name="parameters" element="tns:getOwner" />
	</message>
	<message name="getOwnerResponse">
		<part name="parameters" element="tns:getOwnerResponse" />
	</message>
	<message name="createAccount">
		<part name="parameters" element="tns:createAccount" />
	</message>
	<message name="createAccountResponse">
		<part name="parameters" element="tns:createAccountResponse" />
	</message>
	<message name="closeAccount">
		<part name="parameters" element="tns:closeAccount" />
	</message>
	<message name="closeAccountResponse">
		<part name="parameters" element="tns:closeAccountResponse" />
	</message>
	<message name="getAccountNumbers">
		<part name="parameters" element="tns:getAccountNumbers" />
	</message>
	<message name="getAccountNumbersResponse">
		<part name="parameters" element="tns:getAccountNumbersResponse" />
	</message>
	<message name="getAccount">
		<part name="parameters" element="tns:getAccount" />
	</message>
	<message name="getAccountResponse">
		<part name="parameters" element="tns:getAccountResponse" />
	</message>
	<message name="isActive">
		<part name="parameters" element="tns:isActive" />
	</message>
	<message name="isActiveResponse">
		<part name="parameters" element="tns:isActiveResponse" />
	</message>
	<message name="deposit">
		<part name="parameters" element="tns:deposit" />
	</message>
	<message name="depositResponse">
		<part name="parameters" element="tns:depositResponse" />
	</message>
	<message name="withdraw">
		<part name="parameters" element="tns:withdraw" />
	</message>
	<message name="withdrawResponse">
		<part name="parameters" element="tns:withdrawResponse" />
	</message>
	<message name="getBalance">
		<part name="parameters" element="tns:getBalance" />
	</message>
	<message name="getBalanceResponse">
		<part name="parameters" element="tns:getBalanceResponse" />
	</message>
	<portType name="BankServiceImpl">
		<operation name="transfer">
			<input wsam:Action="http://soap.bank/BankServiceImpl/transferRequest"
				message="tns:transfer" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/transferResponse"
				message="tns:transferResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/transfer/Fault/IOException" />
			<fault message="tns:OverdrawException" name="OverdrawException"
				wsam:Action="http://soap.bank/BankServiceImpl/transfer/Fault/OverdrawException" />
			<fault message="tns:InactiveException" name="InactiveException"
				wsam:Action="http://soap.bank/BankServiceImpl/transfer/Fault/InactiveException" />
			<fault message="tns:CustomException" name="CustomException"
				wsam:Action="http://soap.bank/BankServiceImpl/transfer/Fault/CustomException" />
		</operation>
		<operation name="getOwner">
			<input wsam:Action="http://soap.bank/BankServiceImpl/getOwnerRequest"
				message="tns:getOwner" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/getOwnerResponse"
				message="tns:getOwnerResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/getOwner/Fault/IOException" />
		</operation>
		<operation name="createAccount">
			<input wsam:Action="http://soap.bank/BankServiceImpl/createAccountRequest"
				message="tns:createAccount" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/createAccountResponse"
				message="tns:createAccountResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/createAccount/Fault/IOException" />
		</operation>
		<operation name="closeAccount">
			<input wsam:Action="http://soap.bank/BankServiceImpl/closeAccountRequest"
				message="tns:closeAccount" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/closeAccountResponse"
				message="tns:closeAccountResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/closeAccount/Fault/IOException" />
		</operation>
		<operation name="getAccountNumbers">
			<input wsam:Action="http://soap.bank/BankServiceImpl/getAccountNumbersRequest"
				message="tns:getAccountNumbers" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/getAccountNumbersResponse"
				message="tns:getAccountNumbersResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/getAccountNumbers/Fault/IOException" />
		</operation>
		<operation name="getAccount">
			<input wsam:Action="http://soap.bank/BankServiceImpl/getAccountRequest"
				message="tns:getAccount" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/getAccountResponse"
				message="tns:getAccountResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/getAccount/Fault/IOException" />
		</operation>
		<operation name="isActive">
			<input wsam:Action="http://soap.bank/BankServiceImpl/isActiveRequest"
				message="tns:isActive" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/isActiveResponse"
				message="tns:isActiveResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/isActive/Fault/IOException" />
		</operation>
		<operation name="deposit">
			<input wsam:Action="http://soap.bank/BankServiceImpl/depositRequest"
				message="tns:deposit" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/depositResponse"
				message="tns:depositResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/deposit/Fault/IOException" />
			<fault message="tns:InactiveException" name="InactiveException"
				wsam:Action="http://soap.bank/BankServiceImpl/deposit/Fault/InactiveException" />
			<fault message="tns:CustomException" name="CustomException"
				wsam:Action="http://soap.bank/BankServiceImpl/deposit/Fault/CustomException" />
		</operation>
		<operation name="withdraw">
			<input wsam:Action="http://soap.bank/BankServiceImpl/withdrawRequest"
				message="tns:withdraw" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/withdrawResponse"
				message="tns:withdrawResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/withdraw/Fault/IOException" />
			<fault message="tns:OverdrawException" name="OverdrawException"
				wsam:Action="http://soap.bank/BankServiceImpl/withdraw/Fault/OverdrawException" />
			<fault message="tns:InactiveException" name="InactiveException"
				wsam:Action="http://soap.bank/BankServiceImpl/withdraw/Fault/InactiveException" />
			<fault message="tns:CustomException" name="CustomException"
				wsam:Action="http://soap.bank/BankServiceImpl/withdraw/Fault/CustomException" />
		</operation>
		<operation name="getBalance">
			<input wsam:Action="http://soap.bank/BankServiceImpl/getBalanceRequest"
				message="tns:getBalance" />
			<output wsam:Action="http://soap.bank/BankServiceImpl/getBalanceResponse"
				message="tns:getBalanceResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://soap.bank/BankServiceImpl/getBalance/Fault/IOException" />
		</operation>
	</portType>
	<binding name="BankServiceImplPortBinding" type="tns:BankServiceImpl">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="transfer">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
			<fault name="OverdrawException">
				<soap:fault name="OverdrawException" use="literal" />
			</fault>
			<fault name="InactiveException">
				<soap:fault name="InactiveException" use="literal" />
			</fault>
			<fault name="CustomException">
				<soap:fault name="CustomException" use="literal" />
			</fault>
		</operation>
		<operation name="getOwner">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
		</operation>
		<operation name="createAccount">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
		</operation>
		<operation name="closeAccount">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
		</operation>
		<operation name="getAccountNumbers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
		</operation>
		<operation name="getAccount">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
		</operation>
		<operation name="isActive">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
		</operation>
		<operation name="deposit">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
			<fault name="InactiveException">
				<soap:fault name="InactiveException" use="literal" />
			</fault>
			<fault name="CustomException">
				<soap:fault name="CustomException" use="literal" />
			</fault>
		</operation>
		<operation name="withdraw">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
			<fault name="OverdrawException">
				<soap:fault name="OverdrawException" use="literal" />
			</fault>
			<fault name="InactiveException">
				<soap:fault name="InactiveException" use="literal" />
			</fault>
			<fault name="CustomException">
				<soap:fault name="CustomException" use="literal" />
			</fault>
		</operation>
		<operation name="getBalance">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="BankServiceImplService">
		<port name="BankServiceImplPort" binding="tns:BankServiceImplPortBinding">
			<soap:address location="http://localhost:9876/hs" />
		</port>
	</service>
</definitions>